.layout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid:
    "header header header" auto
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / auto 1fr auto;
  gap: 8px;
}

.go{
  background-color: green;
}

.header {
  grid-area: header;
  background-color: red;
}
.leftSide {
  grid-area: leftSide;
  background-color: blue;
}
.body {
  grid-area: body;
  background-color: green;
}
.rightSide {
  grid-area: rightSide;
  background-color: yellow;
}
.footer {
  grid-area: footer;
  background-color: black;
}
